<div class="container-fluid">
	<h1>Welcome</h1>
	<h3>Food Service App</h3>
</div>
<div class ="nav">
	<div class="nav-item">
		<a class="nav-link" href="#">Menu</a>
	</div>
	<div class="nav-item">
		<a class="nav-link" href="#"></a>
	</div>
	<div class="nav-item">
		<a class="nav-link" href="#"></a>
	</div>
	<div class="nav-item">
		<a class="nav-link" href="welcome/about">About</a>
	</div>
	
</div>
