<h1>We Back In The Building!</h1>
<div class="navbar navbar-inverse">
	<div class="container-fluid">
		<p>
			<ul class="nav navbar-nav">
				<li><%= link_to 'Blog', controller: 'articles' %></li>	<!--Rails helper function link_to links the text to the stated controller prefix.
				Controller prefixes may be found by running $bin/rails routes-->
				<li><%= link_to 'Store', controller: 'store'%></li>
				<!--<li><a href="#">Store</a></li>-->
				<li><a href="#">Media</a></li>
				<li><a href="#">About</a></li>

			</ul>
		</p>
	</div>
</div>

